* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "roboto", sans-serif;
  background-color: #1d1d1d;
  color: #ffffff;
  width: 100%;
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #1d1d1d;
  padding: 0 10vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 9;
}
.navbar .brand {
  text-transform: capitalize;
  font-weight: 500;
}
.navbar .links-container {
  display: flex;
  list-style: none;
}
.navbar .links-container .link {
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  margin: 0 10px;
  padding: 10px;
  position: relative;
}
.navbar .links-container .link:hover:not(.active) {
  opacity: 0.7;
}
.navbar .links-container .link.active::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 5px;
  height: 5px;
  background-color: #ffffff;
  border-radius: 50%;
}
.navbar .links-container .link.active::after {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #ffffff;
}
.home {
  width: 100%;
  min-height: calc(100vh-60px);
  height: auto;
  margin-top: 60px;
  padding: 0 10vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.home .hero-content {
  width: 50%;
}
.home .hero-content .hero-heading {
  font-size: 5rem;
  text-transform: capitalize;
  font-weight: 500;
}
.home .hero-content .hero-heading .highlight {
  color: #ff5722;
}
.home .hero-content .profession {
  width: fit-content;
  display: block;
  margin: 10px 0 20px;
  margin-left: auto;
  text-transform: capitalize;
  position: relative;
  padding: 10px 20px;
  color: #1d1d1d;
  z-index: 2;
}
.home .hero-content .profession::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #e3e3e3;
  z-index: -1;
  transform: skewX(10deg);
}
.home .hero-content .profession::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100px;
  width: 100%;
  height: 2px;
  background-color: #e3e3e3;
}
.home .hero-content .info {
  line-height: 30px;
  margin-bottom: 50px;
}
.home .hero-content .btn {
  background-color: #ff5722;
  color: #ffffff;
  padding: 10px 20px;
  text-decoration: none;
  text-transform: capitalize;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
.home .hero-content .btn:hover {
  background-color: #e64a19;
}
.about,
.project {
  width: 100%;
  height: auto;
  padding: 50px 10vw;
}
.about .heading,
.project .heading {
  text-align: center;
  font-weight: 500;
  font-size: 3.55rem;
  text-transform: capitalize;
}
.about .heading .highlight,
.project .heading .highlight {
  color: #ff5722;
}
.about .sub-heading,
.project .sub-heading {
  text-align: center;
  font-size: 1rem;
  margin: 10px;
  opacity: 0.7;
}
.about .seperator,
.project .seperator {
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  margin: 0 10px;
  padding: 10px;
  position: relative;
}
.about .seperator::before,
.project .seperator::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 5px;
  height: 5px;
  background-color: #ffffff;
  border-radius: 50%;
}
.about .seperator::after,
.project .seperator::after {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 30%;
  width: 40%;
  height: 1px;
  background-color: #ffffff;
}
.about .about-me-container,
.project .about-me-container {
  margin: 150px 0 100px;
  width: 100%;
  display: grid;
  grid-template-columns: 40% 60%;
  grid-gap: 100px;
}
.about .about-me-container .left-col,
.project .about-me-container .left-col {
  position: relative;
}
.about .about-me-container .left-col .about-image,
.project .about-me-container .left-col .about-image {
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
  width: 100%;
}
.about .about-me-container .left-col::before,
.project .about-me-container .left-col::before {
  content: "yes, its me";
  position: absolute;
  top: -40px;
  right: 0;
}
.about .about-me-container .left-col::after,
.project .about-me-container .left-col::after {
  content: "";
  position: absolute;
  top: -30px;
  right: 80px;
  width: 80px;
  height: 2px;
  background-color: #e3e3e3;
  transform-origin: right;
  transform: rotate(-40deg);
}
.about .about-me-container .right-col,
.project .about-me-container .right-col {
  position: relative;
}
.about .about-me-container .right-col .about-para,
.project .about-me-container .right-col .about-para {
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 35px;
  margin-bottom: 40px;
}
.about .about-me-container .right-col .btn,
.project .about-me-container .right-col .btn {
  background-color: #ff5722;
  color: #ffffff;
  padding: 10px 20px;
  text-decoration: none;
  text-transform: capitalize;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
.about .about-me-container .right-col .btn:hover,
.project .about-me-container .right-col .btn:hover {
  background-color: #e64a19;
}
.about .skill-container,
.project .skill-container {
  position: relative;
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}
.about .skill-container .skill-card,
.project .skill-container .skill-card {
  height: 200px;
  border-radius: 10px;
  border: 1px solid #464646;
  text-align: center;
  position: relative;
  cursor: pointer;
  transition: 0.5s;
}
.about .skill-container .skill-card:hover,
.project .skill-container .skill-card:hover {
  color: #ffffff;
}
.about .skill-container .skill-card .skill,
.project .skill-container .skill-card .skill {
  font-size: 2rem;
  color: #464646;
  line-height: 200px;
}
.about .skill-container .skill-card .skill:hover,
.project .skill-container .skill-card .skill:hover {
  background: var(--bg);
}
.about .skill-container .large,
.project .skill-container .large {
  grid-column: 2 span;
}
.project {
  position: relative;
  padding: 50px 10vw;
}
.project .filters {
  width: fit-content;
  display: block;
  margin: 100px auto;
}
.project .filters .filter-btn {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  text-transform: capitalize;
  margin: 0 5px 10px;
  cursor: pointer;
}
.project .filters .active {
  background-color: #ff3559;
}
.project .project-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}
.project .project-container .project-card {
  position: relative;
  cursor: pointer;
  display: block;
}
.project .project-container .project-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.project .project-container .project-card .project-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  text-transform: capitalize;
  opacity: 0;
}
.project .project-container .project-card .project-content .project-title {
  font-weight: 300;
  font-size: 2.5rem;
  text-align: center;
}
.project .project-container .project-card .project-content .tags {
  position: absolute;
  bottom: 20px;
  opacity: 0.6;
  width: 90%;
}
.project .project-container .project-card .project-content:hover {
  opacity: 1;
}
.project .project-container .hide {
  display: none !important;
}
