* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "roboto", sans-serif;
  background: #3d3d3df3;
  color: #ffffff;
  width: 100%;
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #4f4d4d;
  padding: 30px 10vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 9;
}
.navbar .brand {
  text-transform: capitalize;
  font-weight: 500;
  transition: width 2s;
}
.navbar .links-container {
  display: flex;
  list-style: none;
}
.navbar .links-container .link {
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  margin: 0 10px;
  padding: 10px;
  position: relative;
}
.navbar .links-container .link:hover:not(.active) {
  opacity: 0.7;
}
.navbar .links-container .link.active::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 5px;
  height: 5px;
  background-color: #ffffff;
  border-radius: 50%;
}
.navbar .links-container .link.active::after {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #ffffff;
}
.home {
  width: 100%;
  min-height: calc(100vh-60px);
  height: auto;
  margin-top: 120px;
  padding: 0 10vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  animation-name: home;
  animation-duration: 1s;
}
.home .hero-content {
  width: 50%;
  transition: width 2s, height 2s, transform 2s;
}
.home .hero-content .hero-heading {
  font-size: 5rem;
  text-transform: capitalize;
  font-weight: 500;
}
.home .hero-content .hero-heading .highlight {
  color: #ff5722;
}
.home .hero-content .hero-heading .myName-first {
  display: block;
  width: 60%;
  margin-left: 100px;
  background: #e64a19;
  margin-bottom: 10px;
  border-radius: 10px;
  animation: firstpart 3s linear 1s infinite alternate;
}
.home .hero-content .hero-heading .myName-last {
  display: block;
  width: 60%;
  margin-left: 200px;
  background: #e64a19;
  border-radius: 10px;
  animation: lastpart 3s linear 1s infinite alternate;
}
.home .hero-content .profession {
  width: fit-content;
  display: block;
  margin: 10px 0 20px;
  margin-left: auto;
  text-transform: capitalize;
  position: relative;
  padding: 10px 20px;
  color: #1d1d1d;
  z-index: 2;
}
.home .hero-content .profession::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #e3e3e3;
  z-index: -1;
  transform: skewX(10deg);
}
.home .hero-content .profession::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100px;
  width: 100%;
  height: 2px;
  background-color: #e3e3e3;
}
.home .hero-content .info {
  line-height: 30px;
  margin-bottom: 50px;
}
.home .hero-content .btn {
  background-color: #ff5722;
  color: #ffffff;
  padding: 10px 20px;
  text-decoration: none;
  text-transform: capitalize;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
.home .hero-content .btn:hover {
  background-color: #e64a19;
}
.home .hero-content:hover {
  transform: scale(1.1);
}
.home img {
  transition: width 2s, height 2s, transform 2s;
}
.home img:hover {
  transform: scale(1.1);
}
.about {
  width: 100%;
  height: auto;
  padding: 50px 10vw;
  transition: 1s;
}
.about .about-me {
  animation: myfirst 2s linear 1s infinite alternate;
  padding: 20px 0;
}
.about .about-me .heading {
  text-align: center;
  font-size: 3.55rem;
  text-transform: capitalize;
  font-weight: 600;
}
.about .about-me .heading .highlight {
  color: #ff5722;
}
.about .about-me .sub-heading {
  text-align: center;
  font-size: 1rem;
  margin: 10px;
  opacity: 0.7;
}
.about .languageAndFrameWork {
  animation: myfirst 2s linear 1s infinite alternate;
  padding: 20px 0;
  text-align: center;
  font-size: 3.55rem;
  text-transform: capitalize;
  font-weight: 600;
}
.about .about-me-container {
  margin: 150px 0 100px;
  width: 100%;
  display: grid;
  grid-template-columns: 40% 60%;
  grid-gap: 100px;
}
.about .about-me-container .left-col {
  position: relative;
  transition: width 2s, height 2s, transform 2s;
}
.about .about-me-container .left-col .about-image {
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
  width: 100%;
}
.about .about-me-container .left-col::before {
  content: "yes, its me";
  position: absolute;
  top: -40px;
  right: 0;
}
.about .about-me-container .left-col::after {
  content: "";
  position: absolute;
  top: -30px;
  right: 80px;
  width: 80px;
  height: 2px;
  background-color: #e3e3e3;
  transform-origin: right;
  transform: rotate(-40deg);
}
.about .about-me-container .left-col:hover {
  transform: scale(1.1);
}
.about .about-me-container .right-col {
  position: relative;
  transition: width 2s, height 2s, transform 2s;
}
.about .about-me-container .right-col .about-para {
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 35px;
  margin-bottom: 40px;
}
.about .about-me-container .right-col .btn {
  background-color: #ff5722;
  color: #ffffff;
  padding: 10px 20px;
  text-decoration: none;
  text-transform: capitalize;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
.about .about-me-container .right-col .btn:hover {
  background-color: #e64a19;
}
.about .about-me-container .right-col:hover {
  transform: scale(1.1);
}
.about .skill-container {
  position: relative;
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}
.about .skill-container .skill-card {
  height: 200px;
  border-radius: 10px;
  border: 1px solid #080808;
  text-align: center;
  position: relative;
  cursor: pointer;
  transition: 0.5s;
}
.about .skill-container .skill-card .skill {
  font-size: 2rem;
  line-height: 200px;
  color: #090808;
  transition: width 2s, height 2s, transform 2s;
}
.about .skill-container .skill-card .skill:hover {
  color: #e3e3e3;
  background: var(--bg);
  border-radius: 10px;
  transform: scale(1.1);
}
.about .skill-container .large {
  grid-column: 2 span;
}
.project {
  position: relative;
  width: 100%;
  height: auto;
  padding: 50px 10vw;
  transition: 1s;
}
.project .project-heading {
  animation: myfirst 3s linear 1s infinite alternate;
  padding: 20px 0;
}
.project .project-heading .heading {
  text-align: center;
  font-weight: 500;
  font-size: 3.55rem;
  text-transform: capitalize;
}
.project .project-heading .heading .highlight {
  color: #ff5722;
}
.project .project-heading .sub-heading {
  text-align: center;
  font-size: 1rem;
  opacity: 0.7;
}
.project .filters {
  width: fit-content;
  display: block;
  margin: 30px auto;
}
.project .filters .filter-btn {
  transition: width 1s, height 1s, transform 1s;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  text-transform: capitalize;
  margin: 0 5px 10px;
  cursor: pointer;
}
.project .filters .filter-btn:hover {
  transform: scale(1.1);
  background: #cacbe674;
  font-weight: 600;
}
.project .filters .active {
  background-color: #ff3559;
  font-weight: 800;
}
.project .project-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}
.project .project-container .project-card {
  position: relative;
  cursor: pointer;
  display: block;
  transition: width 2s, height 2s, transform 1s;
}
.project .project-container .project-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.project .project-container .project-card .project-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  text-transform: capitalize;
  opacity: 0;
}
.project .project-container .project-card .project-content .project-title {
  font-weight: 300;
  font-size: 2.5rem;
  text-align: center;
}
.project .project-container .project-card .project-content .tags {
  position: absolute;
  bottom: 20px;
  opacity: 0.6;
  width: 90%;
}
.project .project-container .project-card .project-content:hover {
  opacity: 1;
}
.project .project-container .project-card:hover {
  transform: rotate(360deg);
}
.project .project-container .hide {
  display: none !important;
}
.contact {
  position: relative;
  padding: 50px 10vw;
}
.contact .heading {
  text-align: center;
  font-weight: 500;
  font-size: 3.55rem;
  text-transform: capitalize;
  animation: myfirst 3s linear 1s infinite alternate;
  padding: 20px 0;
}
.contact .heading .highlight {
  color: #ff5722;
}
.contact .contact-form {
  width: 100%;
  margin-top: 100px;
  position: relative;
}
.contact .contact-form .name {
  display: flex;
  justify-content: space-between;
}
.contact .contact-form .name input {
  width: 49%;
  margin: 0;
}
.contact .contact-form input,
.contact .contact-form .message {
  width: 100%;
  height: 50px;
  display: block;
  padding: 20px;
  border-radius: 10px;
  background: #151515;
  color: #ffffff;
  border: none;
  outline: none;
  text-transform: capitalize;
  margin: 30px 0;
  resize: none;
}
.contact .contact-form .message {
  height: 200px;
}
.contact .contact-form .contact-btn {
  display: block;
  width: 20%;
  background-color: #ff5722;
  color: #ffffff;
  padding: 10px 20px;
  text-decoration: none;
  text-transform: capitalize;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  margin: auto;
}
.contact .contact-form .contact-btn:hover {
  background-color: #e64a19;
  font-weight: 800;
}
.footer-section {
  padding: 0 10vw;
}
.footer-section .footer {
  height: 40px;
  line-height: 40px;
  background: #ff3559;
  text-transform: capitalize;
  text-align: center;
  margin: auto;
  border-radius: 10px;
}
/* media queries */
@media (max-width: 996px) {
  html {
    font-size: 14px;
  }
  .toggle-btn {
    position: absolute;
    height: 40px;
    width: 40px;
    cursor: pointer;
    right: 10vw;
  }
  .toggle-btn span {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    transition: 0.5s;
  }
  .toggle-btn span:nth-child(2) {
    top: 70%;
  }
  .active span:nth-child(1) {
    top: 50%;
    transform: rotate(45deg);
  }
  .active span:nth-child(2) {
    top: 50%;
    transform: rotate(-45deg);
  }
  .links-container {
    position: absolute;
    top: 60px;
    background: #1d1d1d;
    width: 100%;
    left: 0;
    padding: 0 10vw;
    flex-direction: column;
    transition: 0.5s;
    opacity: 0;
    pointer-events: none;
  }
  .links-container .link {
    margin-left: auto;
    text-align: center;
    display: block;
    height: 50px;
  }
  .show {
    opacity: 1;
    pointer-events: all;
  }
  .home {
    flex-direction: column-reverse;
    height: fit-content;
    padding-bottom: 50px;
  }
  .home .image {
    width: 250px;
    margin: 40px;
  }
  .home .hero-content {
    width: 70%;
    min-width: 350px;
    text-align: center;
  }
  .home .hero-content .hero-heading {
    font-size: 4.5rem;
  }
  .about-me-container {
    grid-template-columns: 1fr !important;
  }
  .about-me-container .left-col {
    margin: auto;
    width: 50%;
    min-width: 320px;
  }
  .skill-container,
  .project-container {
    grid-template-columns: repeat(2, 1fr) !important;
  }
  .skill-container .skill-card,
  .project-container .skill-card {
    grid-column: 1 span !important;
  }
}
@media (max-width: 500px) {
  html {
    font-size: 12px;
  }
  p,
  .sub-heading,
  .about-para,
  .left-col::before,
  .tags {
    font-size: 1.5rem;
  }
  .skill-container,
  .project-container {
    grid-template-columns: repeat(1, 1fr) !important;
  }
  .skill-container .skill-card,
  .project-container .skill-card {
    grid-column: 1 span !important;
  }
  .skill-container .skill-card .skill,
  .project-container .skill-card .skill {
    font-size: 2.5rem;
  }
  .project.title {
    font-size: 3rem;
  }
  .name {
    flex-direction: column !important;
  }
  .name input {
    width: 100% !important;
  }
  .name .first-name {
    margin-bottom: 20px !important;
  }
}
@keyframes myfirst {
  0% {
    width: 90%;
    margin: auto;
    background: #64649e;
  }
  100% {
    width: 100%;
    margin: auto;
  }
}
@keyframes firstpart {
  0% {
    width: 0%;
    overflow: hidden;
    font-weight: 600;
  }
  100% {
    width: 50%;
    overflow: hidden;
    font-weight: 600;
  }
}
@keyframes lastpart {
  0% {
    width: 0%;
    overflow: hidden;
    font-weight: 600;
  }
  100% {
    width: 60%;
    overflow: hidden;
    font-weight: 600;
  }
}
